@model ProyectoModels.ViewModels.Kpis
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Welcome admin</h1>

<h1>Ordenes por Confirmar: @Model.PorConfirmar</h1>
<h1>Ordenes Confirmadas: @Model.Confirmadas</h1>
<h1>Ordenes Enviadas @Model.Enviadas</h1>
<h1>Ordenes Entregadas: @Model.Entregadas</h1>