@model IEnumerable<ProyectoModels.Models.Product>
@{
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1 class="text-center"><b>Welcome!</b></h1>

@foreach (var item in Model){
    <a asp-action="GetProduct" asp-route-id="@item.IdProduct">
        <div class="card" style=" width: 10rem; display: inline-block; margin:1rem;">
            <img src="@item.Photo" class="card-img-top"/>
            <div class="card-body">
                <h5>@item.Name</h5>
                <p class="card-text"> @item.Price</p>
            </div>
        </div>
    </a>
}